<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>All users</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid bg-dark text-white py-1">
    <div class="row">
        <div class="col-11">
            <h2 th:text="${topLine}"></h2>
        </div>
        <div class="col-1 d-flex align-items-center justify-content-end">
            <form th:action="@{/logout}">
                <button type="submit" class="border-0 bg-dark text-white-50">logout</button>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" style="height: 100vh">
        <div class="col">

        </div>

        <div class="col-xl-10 bg-light py-2 px-5">
            <h2>Admin panel</h2>
            <input type="button" value="add" onclick="window.location.href = '/admin/addNewUser'">
            <br><br>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" href="#tab1" data-toggle="tab">Раздел 1</a></li>
                    <li class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab">Раздел 2</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
            <div class=" border rounded border-black">
                <h4 class="p-2 m-0 bg-light border-bottom px-4">All users</h4>
                <div class="bg-white p-4">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="au : ${allUsers}">
            <td th:text="${au.getId()}"/>
            <td th:text="${au.getName()}"/>
            <td th:text="${au.getSurname()}"/>
            <td th:text="${au.getAge()}"/>
            <td th:text="${au.getEmail()}"/>
            <td>
                <div th:each="role: ${au.getRoles()}">
                    <span th:if="(${role.getName()} == 'ROLE_ADMIN')" th:utext="ADMIN"></span>
                    <span th:if="(${role.getName()} == 'ROLE_USER')" th:utext="USER"></span>
                </div>
            </td>
            <td>
                <form th:action="@{/admin/updateInfo/{id}(id=${au.getId()})}">
                    <input type="submit" value="Edit" class="btn btn-info">
                </form>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{admin/deleteUser/{id}(id=${au.getId()})}">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
                </div>
            </div>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <p>Привет, я в Разделе 2.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>