<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>page user</title>
</head>
<body>
<h2>PAGE USER</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Login</th>
        <th>Password</th>
        <th>Role</th>
    </tr>
    <tr th:object="${user}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.roles}"></td>
    </tr>
</table>
<br>
<form th:action="@{/logout}">
    <button type="submit">logout</button>
</form>
</body>
</html>